.menuBar {
  grid-area: menuBar;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: calc(60% - 170px);
  min-width: 300px;
}

.search {
  width: 100%;
}

.searchIcon {
  position: absolute;
  right: 125px;
  cursor: pointer;
  padding: 4px;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 8px 18px;
  gap: 4px;
}
