.menuBar {
  grid-area: menuBar;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--card-bg);
  border-bottom: var(--card-border);
}

.left {
  display: flex;
  align-items: center;
  width: 250px;

  img {
    cursor: pointer;
    filter: var(--filter);
  }
  span {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: calc(60% - 170px);
  min-width: 300px;
}

.search {
  width: 100%;
  padding-right: 26px !important;
}

.searchIcon {
  position: absolute;
  right: 130px;
  cursor: pointer;
  padding: 4px;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 8px 18px;
  gap: 4px;
}

@media screen and (max-width: 900px) {
  .menuBar {
    padding: 6px 12px;
  }
  .right {
    min-width: 200px;
  }
  .searchIcon {
    right: 95px;
  }
}
