.navBar {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  img {
    filter: invert(1);
  }
}

.right {
  display: flex;
  gap: 12px;

  b {
    color: whitesmoke;
  }
}
