.navBar {
  padding: 16px 90px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  img {
    filter: invert(1);
  }
}

.right {
  display: flex;
  gap: 12px;

  b {
    color: whitesmoke;
  }
}
