.header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: calc(100% - 70px);
}

.title {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

.data {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
}

.body {
  padding: 14px 0px;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    top: 100%;
    box-shadow: 0px 0px 10px 15px white;
  }
}

.votes {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 12px;
  }
  svg {
    cursor: pointer;
    padding: 4px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    }
  }
}

.media {
  display: flex;
  gap: 12px;
  justify-content: center;

  span {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 2px 4px;
    cursor: pointer;
    border-radius: var(--input-radius);
    transition-duration: 0.3s;

    &:hover {
      padding: 2px 8px;
      font-size: 16px;
      box-shadow: 0px 0px 3px black;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  user-select: none;
}
