.button {
  cursor: pointer;
  transition-duration: 0.2s;
  position: relative;
}

.normal {
  height: 32px;
  padding: 0 12px;
}

.contained {
  color: var(--text-color);
  border-radius: 4px;
  background-color: var(--color-primary);
  border: none;
}

.outlined {
  color: var(--text-color);
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.textual {
  color: var(--text-color);
  border-radius: 4px;
  background-color: transparent;
  border: none;
}
