.authentication {
  display: flex;
  flex-direction: column;
  padding: 40px 48px;
  gap: 24px;
  background-color: var(--card-bg);

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
