.home {
  background: radial-gradient(
    circle at -5% -5%,
    rgb(147, 191, 241) 0%,
    rgba(255, 255, 255, 1) 22%
  );
  padding: 0 90px;
}

.about {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.aboutLeft {
  width: 60%;
  h1 {
    font-size: 44px;
  }
  p {
    font-size: 18px;
    font-weight: normal;
    opacity: 0.8;
  }
}

.aboutRight {
  width: 35%;
}

.features {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.feature {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 30%;
}

.right {
  width: 30%;
}
