:root {
  --text-color: white;
  --color-primary: #ff8038;
  --color-secondary: #265f7b;
  --color-primary-darker: #d66d30;
  --color-secondary-darker: #1b4458;
  --color-bg: whitesmoke;
  --card-bg: white;
  --card-radius: 15px;
  --card-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --card-padding: 12px 14px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
